<!DOCTYPE html>
<html lang="tw">
<head>
  <!-- Theme Made By www.w3schools.com -->
  <title>Sloth Pilates 5</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/style5.css">
 

  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <!--<img class="navbar-brand" src="./goal images/slothpink.png" alt="sloth pilates logo">-->
      <a class="navbar-brand" href="https://slothpilates.com.tw">樹懶皮拉提斯</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">關於我們</a></li>
        <li><a href="#studio">教室</a></li>
        <li><a href="#classes">課程</a></li>
        <li><a href="#pricing">價格</a></li>
        <li><a href="#contact">聯繫我們</a></li>
        <li><a href="/EN">ENGLISH</a></li>
        <!--<li><a id = "language" onclick ="window.location.href='/#language=EN'">ENGLISH</a></li>-->

      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron text-center">
  <h1>樹懶皮拉提斯</h1>   
  <h3>a place for you to slow down</h3> 
  <img  src="./images/slothpink.png" height="200px" alt="slothpilates logo">
 <!-- <form>
    <div class="input-group">
      <input type="email" class="form-control" size="50" placeholder="Email Address" required>
      <div class="input-group-btn">
        <button type="button" class="btn btn-danger">Subscribe</button>
      </div>
    </div>
  </form>-->
</div>

  

<div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img class="bd-placeholder-img" width="100%" height="100%" src="./images/35919-2.jpg" alt="Sloth Pilates Studio 1">
    </div>
    <div class="item">
      <img class="bd-placeholder-img" width="100%" height="100%" src="./images/35917-2.jpg" alt="sloth Pilates Studio 2">
    </div>
    <div class="item">
      <img class="bd-placeholder-img" width="100%" height="100%" src="./images/35927-2.jpg" alt="sloth Pilates Studio 3">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>


      <!-- Container (About Section) -->
<div id="about" class="container-fluid bg-white">
  <div class="row">
    <div class="col-sm-8">
      <h2>關於樹懶皮拉提斯</h2><br>
      <h3>a place for you to slow down</h3><br>
      <p>樹懶是一種非常有趣的動物, 它們可以用雙腳橫吊在樹上, 輕鬆自在的睡覺數小時, 可見得其核心之強大, 表面肌肉之放鬆, 這樣的狀態像極了皮拉提斯的運動原則, 因此我們的工作室取名為樹懶皮拉提斯. 樹懶皮拉提斯位於湖口鄉, 這裡不像大都市有足夠的資源及設施能讓民眾接觸皮拉提斯的課程. 因此當我拿到Stott Pilates國際證照且看到很多上了皮拉提斯的課程而受益的客戶, 我決定把這項運動帶給我的家人及家鄉.<br>
      <!--<button class="btn btn-default btn-lg">Get in Touch</button>-->
      <br>
      <p><strong>我們的使命: </strong>我們相信皮拉提斯應該讓一般人都可以接觸到, 我們的工作室是為了幫助您先放鬆下來, 讓呼吸與動作的連結由內而外變得輕鬆自然. Stott Pilates 是源自於傳統皮拉提斯並結合解剖學, 生物力學及現代運動科學的運動方式, 我們的課程會幫助您有更好的身體排列, 增加本體覺, 平衡力, 協調性及肌力/肌耐力, 讓您覺得更修長, 更有力量, 更有活力, 快來加入我們吧!</p><br>
      <p><strong>關於皮拉提斯:</strong> 皮拉提斯是由 <a href="https://en.wikipedia.org/wiki/Joseph_Pilates">Joseph Pilates</a> 在1900初期所創立, 現在已經遍及全球, 很多人非常喜歡皮拉提斯運動因為它是最安全且有效的運動方式之一. 皮拉提斯器械包含了塑身機, 凱迪拉克床, 平衡椅及弧桶/梯桶等, 使用這些器械可以讓初學者, 較輕易的做到且體會到肌肉該有的活動度及鬆緊度, 也可以讓運動愛好者享受到運動的挑戰及快感.</p>
      
      </div>
    <div class="col-sm-4">
        <img src="./images/slothpink2.png" width ="100%" height="100%" alt="sloth pilates logo">
    
    </div>
  </div>
   <!--<div class="row">
    <div class="col-sm-4">
        <img src="./goal images/slothgold.jpg" width ="100%" height ="100%" alt="sloth pilates logo">
    </div>
    <div class="col-sm-8">
      <h2>Our Mission</h2><br>
      <p>We believe Pilates should be accessible to all. Our serene studio spaces are designed to help you slow down, become more present and feel more connected through breath and movement. We provide a modern and contemporary Pilates approach, deeply rooted in anatomy and biomechanics. Our classes will help you find strength, balance, proper alignment, and leave you feeling longer, stronger, energized and rejuvenated. Come to join us.</p><br>
      <h4><strong>MISSION:</strong> We believe Pilates should be accessible to all. Our serene studio spaces are designed to help you slow down, become more present and feel more connected through breath and movement. We provide a modern and contemporary Pilates approach, deeply rooted in anatomy and biomechanics. Our classes will help you find strength, balance, proper alignment, and leave you feeling longer, stronger, energized and rejuvenated. Come to join us.</h4><br>
      <p><strong>About Pilates:</strong> Pilates was created by <a href="https://en.wikipedia.org/wiki/Joseph_Pilates">Joseph Pilates</a> in early 1900 and now getting more and more popular nowadays. Many people are obsessed with Pilates exercises as the focus is on developing the safest and most effective fitness programming. The equipments, such as reformeres, cadillac, chairs, and barrels are designed for everyone. The beginners would find them help mobilize spine & limbs and increase self-awareness from inside out; the intermediate or advanced levels would find them challenging and fun.</p>
      
      </div>
    </div>-->
</div>


<!--  <div class="container-fluid bg-white">
</div> -->

<!-- Container (Portfolio Section) -->
<div id="classes" class="container-fluid text-center bg-grey">
  <h2>課程</h2><br>
  <h4>我們提供</h4>
  <div class="row text-center slideanim">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="./images/35916.jpg" alt="Paris" width="400" height="300">
        <!--<p><strong>Reformer Classes</strong></p> -->
        <button id="reformer" class="btn btn-lg" href="/reformer">塑身機課程</button>
        <p>三人小團班</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="./images/35927.jpg" alt="New York" width="400" height="300">
        <!--<p><strong>Mat Classes</strong></p>-->
        <button id="group" class="btn btn-lg" href="/group">墊上課程</button>
        <p>六人以上團班</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="./images/35925.jpg" alt="San Francisco" width="400" height="300">
        <!--<p><strong>Private Sessions</strong></p>-->
        <button id="private" class="btn btn-lg" href="/private">私人課程</button>
        <p>一對一課程</p>
      </div>
    </div>
  </div><br>

<!-- Container (Services Section) -->
<div id="studio" class="container-fluid text-center bg-white">
  <h2>SERVICES</h2>
  <h4>What we offer</h4>
  <br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-off logo-small"></span>
      <h4>POWER</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-heart logo-small"></span>
      <h4>LOVE</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-lock logo-small"></span>
      <h4>JOB DONE</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
  </div>
  <br><br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-leaf logo-small"></span>
      <h4>GREEN</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-certificate logo-small"></span>
      <h4>CERTIFIED</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-wrench logo-small"></span>
      <h4 style="color:#303030;">HARD WORK</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
  </div>
</div>


  

<!-- Container (Pricing Section) -->
<div id="pricing" class="container-fluid bg-white">
  <div class="text-center">
    <h2>價格</h2>
    <h4>選擇適合您的課程</h4>
  </div>
  <div class="row slideanim">
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>塑身機課程</h1>
        </div>
        <div class="panel-body">
          <p><strong>每人1點 </strong> 30分鐘三人團班</p>
          <p><strong>每人1.5點 </strong> 30分鐘雙人班</p>
          <p><strong>每人2點 </strong> 60分鐘三人團班</p>
          <p><strong>每人3點 </strong> 60分鐘雙人班</p>
        </div>
        <div class="panel-footer">
          <h3>$3500</h3>
          <h4>10 點</h4>
          <button class="btn btn-lg">預約</button>
        </div>
      </div>      
    </div>     
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>團體課程</h1>
        </div>
        <div class="panel-body">
          <p><strong>每人1點 </strong> 60分鐘墊上課</p>
          <p><strong>每人1點 </strong> 60分鐘弧桶課</p>
          <p><strong>每人1點 </strong> 60分鐘有氧肌力課</p>
          <p><strong>每人1點 </strong> 60分鐘空中皮拉提斯課</p>
        </div>
        <div class="panel-footer">
          <h3>$3500</h3>
          <h4>10 點</h4>
          <button class="btn btn-lg">預約</button>
        </div>
      </div>      
    </div>       
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>一對一課程</h1>
        </div>
        <div class="panel-body"> 
          <p><strong>$700(一人限一次) </strong> 60分鐘體驗課 </p>
          <p><strong>每人2點</strong> 30分鐘私教課</p>
          <p><strong>每人4點</strong> 60分鐘私教課</p>
          <p><strong>每人6點</strong> 90分鐘私教課</p>
        </div>
        <div class="panel-footer">
          <h3>$3500</h3>
          <h4>10 點</h4>
          <button class="btn btn-lg">預約</button>
        </div>
      </div>      
    </div>    
  </div>
</div>

<!-- Container (Contact Section) -->
<div id="contact" class="container-fluid bg-grey">
  <h2 class="text-center">聯繫我們</h2>
  <div class="row">
    <div class="col-sm-4">
      <p>與我們聯繫, 我們會在24小時內回覆您.</p> 

      <p><span class="glyphicon glyphicon-phone"></span> 0920 401 207</p>
      <p><span class="glyphicon glyphicon-envelope"></span> sloth.pilates.tw@gmail.com</p>
      <p><span class="fa fa-instagram" ></span> </p>
      <p><span class="fa fa-facebook-official" style="font-size:24px"></span> </p> 
      <a class="glyphicon glyphicon-map-marker" href="https://www.google.com.tw/maps/place/303%E6%96%B0%E7%AB%B9%E7%B8%A3%E6%B9%96%E5%8F%A3%E9%84%89%E5%BF%A0%E5%AD%9D%E8%B7%AF39%E8%99%9F/@24.9002119,121.0414174,17z/data=!3m1!4b1!4m6!3m5!1s0x3468305a8ced3df3:0xf45f8237e967181a!8m2!3d24.9002071!4d121.0462883!16s%2Fg%2F11csj1yz2m?entry=ttu"> 303新竹縣湖口鄉忠孝路39-1號</a>
      
    </div>
    <div class="col-sm-7 slideanim">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">送出</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Image of location/map -->
<!--<img src="/w3images/map.jpg" class="w3-image w3-greyscale-min" style="width:100%"> -->

<footer class="container-fluid text-center">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p>Copyright © from 樹懶皮拉提斯 <%=year%></p>
  <!--<p>Copyright © 樹懶皮拉提斯 <a href="https://www.slothpilates.com.tw" title="Visit Sloth Pilates">www.slothpilates.com.tw</a></p>-->
  <img src="./images/slothpink2.png" alt="sloth pilates logo" height ="100px">
</footer>

<script>
$(document).ready(function(){
    // Add smooth scrolling to all links in navbar + footer link
    $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
      // Make sure this.hash has a value before overriding default behavior
      if (this.hash !== "") {
        // Prevent default anchor click behavior
        event.preventDefault();
  
        // Store hash
        var hash = this.hash;
  
        // Using jQuery's animate() method to add smooth page scroll
        // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 900, function(){
     
          // Add hash (#) to URL when done scrolling (default click behavior)
          window.location.hash = hash;
        });
      } // End if
 
    });
    

    $(window).scroll(function() {
      $(".slideanim").each(function(){
        var pos = $(this).offset().top;
  
        var winTop = $(window).scrollTop();
          if (pos < winTop + 600) {
            $(this).addClass("slide");
          }
      });
    });
  })
  
</script>

<!--<script src="./sloth5.js" charset="utf-8"></script>-->
<script src="http://code.jquery.com/jquery-1.9.0rc1.js"></script>
</body>
</html>

